{% extends 'base.html' %}

{% block content %}
    <div class="vertical">
        <div class="container">
            <div class="center">
                <div class="banner h1 mb-5">Buy together, get profit. <br>
                    <small class="accent">EcCoSy</small>
                </div>
                {% if user.is_authenticated %}
                    <div class="mt-5 pt-5">
                        <h2>Welcome, {{ user.username }}.</h2>
                        <a class="btn btn-info" href="{% url 'order:list' %}">MAIN</a>
                        <a class="btn btn-info" href="{% url 'user:change' %}">PROFILE</a>
                        <a class="btn btn-info" href="{% url 'order:user' %}">MY ORDERS</a>
                        <br>
                        <a class="btn btn-outline-secondary mt-4" href="{% url 'logout' %}">LOG OUT</a>
                        {% else %}
<!--                        <p>You are not logged</p>-->
                         <a class="btn btn-info" href="{% url 'login' %}">LOG IN</a>
                         <a class="btn btn-info" href="{% url 'user:signup' %}">SIGN UP</a> <br>
                         <a class="btn btn-outline-secondary mt-4" href="admin">ADMIN IN</a>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
