{% extends 'base.html' %}

{% block title %}Add Size::{% endblock %}

{% block content %}
    <div class="vertical">
        <div class="container">
            <div class="center">
                <h2>Add size</h2>
                <form method='post'>
                    {% csrf_token %}
                    {{ form.as_p }}
                    <br>
                    <a class="button" href="{% url 'order:list' %}">BACK</a>
                    <a href="" class="button" onclick='this.parentNode.submit(); return false'>ADD</a>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
