{% extends 'base.html' %}

{% block title %}My Order{% endblock %}

{% block content %}

<div class="container">
    <div class="center">
        <!--            <p>-->
        <!--                User: {{ request.user }}-->
        <!--                <a class="btn btn-info" href="{% url 'logout' %}">LOG OUT</a>-->
        <!--            </p>-->
        <div class="container mt-2 mb-5">
            <nav class="nav d-flex justify-content-between w-100 ">
                <h5>User: {{ request.user }}</h5>
                <div>
                    <a class="btn btn-info ml-2" href="/orders/">MAIN</a>
                    <a class="btn btn-info ml-2" href="{% url 'user:change' %}">PROFILE</a>
                    <a class="btn btn-outline-info ml-2" href="{% url 'logout' %}">LOG OUT</a>
                </div>
            </nav>
        </div>
        <p> MY ORDERS: </p>
        <div class="tableFixHead">
            <table>
                <thead>

                <tr>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th>Product</th>
                    <th>Customers</th>
                    <th>Manufacture</th>
                    <th>Contributor</th>
                    <th>Size</th>
                    <th>Now</th>
                    <th>Discounts</th>
                </tr>
                </thead>
                {% for order in orders %}
                <tr>
                    <td><a class="btn btn-info" href="{% url 'order:detail' order.id %}">DETAIL</a></td>
                    <td>
                        {% if request.user == order.creator %}
                        <a class="btn btn-info" href="{% url 'order:delete' order.id %}">DELETE</a>
                        {% endif %}
                    </td>
                    <td>
                        {% if request.user == order.creator and order.status == 'WORK' %}
                        <a class="btn btn-info" href="{% url 'order:status' order.id 'archive' %}">IN ARCHIVE</a>
                        {% endif %}
                        {% if request.user == order.creator and order.status == 'ARCHIVE' %}
                        <a class="btn btn-info" href="{% url 'order:status' order.id 'work' %}">IN WORK</a>
                        {% endif %}
                    </td>
                    <td> {{ order.product.name }}</td>
                    <td> {{ order.customers }}</td>
                    <td> {{ order.product.manufacture.name }}</td>
                    <td> {{ order.product.contributor.name }}</td>
                    <td> {{ order.order_size }}</td>
                    <td> {{ order.discount }}%</td>
                    <td> {{ order.product.discounts }}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
        <p> ORDERS WITH ME: </p>
        <div class="tableFixHead">
            <table>
                <thead>

                <tr>
                    <th></th>
                    <th>Product</th>
                    <th>Customers</th>
                    <th>Manufacture</th>
                    <th>Contributor</th>
                    <th>Size</th>
                    <th>Now</th>
                    <th>Discounts</th>
                </tr>
                </thead>
                {% for order in join_orders %}
                <tr>
                    <td><a class="btn btn-info" href="{% url 'order:detail' order.id %}">DETAIL</a></td>
                    <td> {{ order.product.name }}</td>
                    <td> {{ order.customers }}</td>
                    <td> {{ order.product.manufacture.name }}</td>
                    <td> {{ order.product.contributor.name }}</td>
                    <td> {{ order.order_size }}</td>
                    <td> {{ order.discount }}%</td>
                    <td> {{ order.product.discounts }}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>
<a class="btn btn-info mb-5 mt-5 ml-auto mr-auto" href="{% url 'order:list' %}">BACK</a>

{% endblock %}
