@font-face {
    font-family: 'Roboto';
    src: url('/static/Roboto-Regular.ttf');
}
body {
    font-family: 'Roboto', serif;
    font-size: 13px;
    background-color: #f6f7f8;
}
p, li, ul {
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
}
.errorlist {
    font-size: 12px;
    color: red;
    font-family: serif;
    font-style: italic;
}
.button {
    padding: 8px 16px ;
    background: #15a96b;
    color: #fff;
    border: 2px solid #15a96b;
    font-size: 18px;
    line-height: 21px;
    cursor: pointer;
    border-radius: 4px;
    transition: .2s;
}
.accent{color: #17a2b8;}
.button:active {
    background-color: #f6f7f8;
    outline: 0;
}
.min-h-440{min-height: 440px;}
.button:hover {
    outline: 0;
}

.container {
    display: flex;
    justify-content: center;
}
.center {
    text-align: center;
}
.vertical {
    margin-top: 30vh;
}

.scroll {
    line-height: 1em;
    overflow:auto;
    padding: 5px;
}
table {
  border-collapse: collapse;
  width: 100%;
}

table td, table th {
  border: 1px solid #ddd;
  padding: 8px;
}

table tr:nth-child(even){background-color: #f2f2f2;}

/*table tr:hover {background-color: #ddd;}*/


table th {
  text-align: left;
  background-color: #04AA6D;
  color: white;
}

.w2 {
    width: 50px;
    display: inline-block;
}
.w3 {
    width: 100px;
    display: inline-block;
}
.tableFixHead {
   overflow-y: auto;
   height: 40vh;
    width: 95vw;
}
.tableFixHead thead th {
    position: sticky;
    top: 0;
}

